.nav {
  @include down(lg) {
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0;
    margin: 0;
    list-style: none;

    @include down(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__link {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    padding: 13px 0;
    display: block;
    color: var(--text-white);
    position: relative;

    @include down(lg) {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }

    &:hover {

      &::before {
        width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: var(--text-white);
      transition: all .3s ease-in;
    }

    &--outline {
      font-weight: 600;
      padding: 10px 30px;
      font-size: 16px;
      line-height: 24px;
      border-radius: 44px;
      border: 1px solid var(--text-white);
      transition: background-color .3s linear;

      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }

      &::before {
        display: none;
      }
    }
  }
}
