.burger {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  position: relative;
  padding: 10px 15px;
  background: transparent;
  cursor: pointer;

  &:hover {

    .burger__line {

      &::before {
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }
    }
  }

  &--open {

    .burger__line {
      background: transparent;

      &::before {
        top: 0 !important;
        transform: rotate(45deg);
      }

      &::after {
        top: 0 !important;
        transform: rotate(-45deg);
      }
    }
  }

  &__line {
    flex: 1;
    height: 2px;
    position: relative;
    background: var(--text-white);
    transition: opacity 0.3s;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--text-white);
      transition: all 0.2s ease;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}
