<form class="order-form">
  <input type="email" placeholder="Email address" class="input order-form__input">
  <button type="submit" class="btn btn--orange --svg__btn-orange order-form__btn">Book Now</button>
</form>
