.order-form {
  display: flex;
  align-items: center;
  gap: 30px;

  @include down(lg) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  @include down(md) {
    align-items: center;
  }

  &__input {
    flex: 0 1 355px;

    @include down(lg) {
      flex: 1;
      width: 100%;
    }
  }

  &__btn {

  }
}
