.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__row {
    display: flex;
    gap: 30px;

    @include down(md) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 1 1 50%;
    max-width: calc(50% - 30px);

    @include down(md) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__input {
    width: 100%;
    margin: 0 0 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
