<form action="/" class="contact-form">
  <div class="contact-form__row">
    <div class="contact-form__col">
      <input type="email" placeholder="Email address" class="input input--white contact-form__input">
      <input type="email" placeholder="Email address" class="input input--white contact-form__input">
    </div>
    <div class="contact-form__col">
      <textarea placeholder="Email address" class="input input--white input--area contact-form__input"></textarea>
    </div>
  </div>
  <div class="contact-form__row">
    <button type="submit" class="btn btn--orange --svg__btn-orange order-form__btn">Book Now</button>
  </div>
</form>
