:root {
  --font-main: 'Poppins', Arial, sans-serif;
  --font-secondary: 'Roboto', Arial, sans-serif;
  --white: #FFFFFF;
  --brown: #381E19;
  --gray: #E5E5E5;
  --gray-secondary: #E3E3E3;
  --text-white: #FAFAFA;
  --text-black: #211D1E;
  --orange: #EB5F35;
  --brown-gradient: linear-gradient(109.68deg, #201310 4.72%, #A25240 103.84%);
}
