.about-item {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-left: 45px;
  position: relative;

  @include down(lg) {
    flex-direction: column;
  }

  &__content {
    flex: 0 1 440px;
    max-width: 440px;
    position: relative;
    z-index: 2;

    @include down(lg) {
      flex: 1;
    }
  }

  &__banner {
    flex: 1;
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 0;

    &--active {
      box-shadow: 0 6px 23px rgba(78, 154, 6, 0.29);

      &::before {
        content: '';
        position: absolute;
        bottom: 25px;
        left: 0;
        z-index: -1;
        width: 190px;
        height: 190px;
        background: url("../img/confirm-icon.svg") center center no-repeat;
        background-size: cover;
        transform: translate(-50%, 0);

        @include down(xl) {
          width: 100px;
          height: 100px;
        }

        @include down(md) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &__text {
    font-weight: 500;
  }

  &__circle {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: var(--orange);

    &--md {
      width: 46px;
      height: 46px;
    }

    &--lg {
      width: 63px;
      height: 63px;
    }

    @include down(lg) {
      width: 32px;
      height: 32px;
      top: 80px;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    @include down(lg) {
      flex-direction: column;
    }
  }
}
