.s-about {
  position: relative;
  background: var(--white);

  &__inner {
    margin: -110px 0 0 0;
    padding: 110px 0 80px;
    border-left: 2px dashed var(--gray-secondary);
    border-bottom: 2px dashed var(--gray-secondary);

    @include down(lg) {
      margin: -80px 0 0 0;
      padding: 80px 0 80px;
    }

    @include down(md) {
      margin: -50px 0 0 0;
      padding: 50px 0 50px;
    }
  }

  &__item {
    margin-bottom: 110px;

    @include down(lg) {
      margin-bottom: 80px;
    }

    @include down(md) {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
