.btn {
  @include no-btn();
  @include btn-anim();

  &--orange {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-white);
    background-size: contain;
    background-position: center;
    height: 83px;
    min-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
  }
}
