.pre-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 15px;
  color: var(--text-black);

  &--white {
    color: var(--text-white);
  }
}

.title {
  line-height: 1.09;
  margin: 0 0 25px;
  color: var(--text-black);

  @include down(lg) {
    font-size: 45px;
  }

  &--white {
    color: var(--text-white);
  }
}

.text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-black);
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &--white {
    color: var(--text-white);
  }
}
