.container {
  width: 100%;
  padding: 0 15px;

  @include up(sm) {
    max-width: 540px;
    margin: 0 auto;
  }

  @include up(md) {
    max-width: 720px;
  }

  @include up(lg) {
    max-width: 960px;
    padding: 0 45px;
  }

  @include up(xl) {
    max-width: 1140px;
  }

  @include up(xxl) {
    max-width: 1500px;
  }

  &--fluid {
    max-width: 1500px;
  }
}
