.feature {

  &__circle {
    width: 384px;
    height: 384px;
    background: url("../../img/feature-dotted.svg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px;
    position: relative;

    @include down(xxl) {
      width: 265px;
      height: 265px;
    }

    @include down(md) {
      width: 200px;
      height: 200px;
    }

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-radius: 50%;
      background: var(--white);
      box-shadow: 0 10.0859px 24.6544px rgba(57, 31, 25, 0.3);
    }
  }

  &__logo {
    width: 103px;
    height: 103px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include down(xl) {
      width: 75px;
      height: 75px;
    }

    @include down(md) {
      width: 45px;
      height: 45px;
    }
  }

  &__button {
    position: absolute;
    border: none;
    background: var(--white);
    box-shadow: 0 10.0859px 24.6544px rgba(57, 31, 25, 0.3);
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.08em;
    cursor: pointer;
    @include btn_anim();

    @include down(xl) {
      font-size: 12px;
      padding: 6px 20px;
    }

    @include down(md) {
      padding: 6px 12px;
    }

    &--active {
      box-shadow: 0 10.0859px 24.6544px rgba(235, 95, 53, 0.5);
    }

    &--stage-1 {
      top: 165px;
      left: -180px;

      @include down(xl) {
        top: 115px;
        left: -70px;
      }

      @include down(md) {
        top: 85px;
        left: -40px;
      }
    }

    &--stage-2 {
      top: 0;
      right: -170px;

      @include down(xl) {
        top: 20px;
        right: -70px;
      }

      @include down(md) {
        top: 5px;
        right: -45px;
      }
    }

    &--stage-3 {
      top: 300px;
      right: -140px;

      @include down(xl) {
        top: 195px;
        right: -45px;
      }

      @include down(md) {
        top: 145px;
        right: -25px;
      }
    }
  }
}
