.s-features {
  background: var(--text-white);

  &__inner {
    display: flex;
    gap: 60px;

    @include down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    flex: 1;
    max-width: 560px;

    @include down(xxl) {
      max-width: 430px;
    }


    &-inner {
      margin-bottom: 60px;

      @include down(md) {
        margin-bottom: 25px;
      }
    }

    &-buttons {
      display: flex;
      gap: 70px;
      align-items: center;

      @include down(md) {
        flex-direction: column;
        gap: 25px;
      }
    }

    .content {

      &__title {
        font-size: 68px;
        color: var(--text-black);
      }

      &__text {
        color: var(--text-black);
      }
    }
  }

  &__round {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
