.footer-nav {

  &__title {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-white);
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: var(--text-white);
    text-decoration: none;
    position: relative;

    &:hover {

      &::before {
        width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1px;
      background: var(--text-white);
      transition: all .3s ease-in;
    }
  }
}
