.footer-copy {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  @include down(sm) {
    flex-direction: column;
  }

  &__content {
    flex: 0 1 auto;
  }

  &__socials {
    flex: 0 1 auto;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-white);
  }
}
