.footer-socials {

  &__inner {
    display: flex;
    gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 5px;
    background: var(--text-white);
    border-radius: 50%;
  }

  &__icon {

  }
}
