.footer {
  margin-top: -90px;
  padding-top: 45px;
  background-size: cover;
  position: relative;
  background: var(--brown);

  @include down(lg) {
    margin-top: -150px;
  }

  @include down(md) {
    margin-top: -200px;
  }

  @media (min-width: 1920px) {
    margin-top: -350px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 80%;
    left: 0;
    width: 100%;
    height: 365px;
    background: url("../img/footer-bg.png") top center no-repeat;
    background-size: cover;

    @media (min-width: 1920px) {
      display: none;
    }
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    position: relative;
    z-index: 4;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + 20px);
      left: 0;
      width: 152px;
      height: 300px;
      background: url("../img/sheet-person.png") top center no-repeat;
      background-size: contain;

      @include down(sm) {
        bottom: 98%;
      }

      @media (min-width: 1920px) {
        bottom: 90%;
      }
    }

    @include down(xl) {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  &__copy {
    margin-top: 80px;
    padding: 30px 0;
    border-top: 1px solid rgba(250, 250, 250, 0.29);

    @include down(lg) {
      margin-top: 30px;
    }

    &-text {
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;
      color: var(--text-white);
    }
  }

  &__nav {
    flex: 0 1 auto;
    display: flex;
    gap: 95px;

    @include down(xxl) {
      flex: 0 1 55%;
      gap: 35px;
    }

    @include down(xl) {
      gap: 65px;
    }

    @include down(sm) {
      flex-direction: column;
      gap: 25px;
    }

  }

  &__form {
    flex: 0 1 730px;

    @include down(xl) {
      flex: 1;
    }

    @include down(xl) {
      margin-bottom: 45px;
    }
  }
}
