h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 52px;
}

h4 {
  font-size: 44px;
}

h5 {
  font-size: 36px;
}

h6 {
  font-size: 24px;
}
