.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 55px 0;
  overflow: hidden;
  transition: all .3s ease;

  @include down(lg) {
    padding: 15px 0;
    height: 90px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    min-height: 46px;
  }

  &__logo {
    flex: 0 0 auto;
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include down(lg) {
      order: 2;
      flex: 1 1 100%;
      max-width: 100%;
      padding: 25px 50px;
      transform: translateY(-120%);
      opacity: 0;
      transition: transform .3s ease, opacity .3s ease;
    }
  }

  &__burger {
    display: none;
    margin-left: auto;

    @include down(lg) {
      display: block;
    }
  }

  &--scrolled {
    padding: 15px 0;
    background: rgba(56, 30, 25, .9);
  }

  &--expand {

    @include down(lg) {
      background: rgba(56, 30, 25, 1);
      height: 100vh;
    }

    .header__nav {

      @include down(lg) {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
