.input {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-white);
  background: transparent;
  outline: none;
  border: 1px solid var(--text-white);
  padding: 16px 25px;
  border-radius: 30px;

  &::placeholder {
    color: var(--text-white);
  }

  &--white {
    background: var(--text-white);
    color: var(--text-black);

    &::placeholder {
      color: var(--text-black);
    }
  }

  &--area {
    resize: none;
    min-height: 138px;
  }
}
