.s-intro {

  background: var(--brown-gradient);
  min-height: 100vh;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;

    @include down(md) {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 60px;
    }
  }

  &__content {
    flex: 0 0 50%;
    max-width: 560px;

    @include down(xl) {
      max-width: 50%;
    }

    @include down(lg) {
      max-width: 45%;
    }

    @include down(md) {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &-inner {
      max-width: 445px;
      margin-bottom: 60px;

      @include down(lg) {
        margin-bottom: 30px;
      }
    }
  }

  &__image {
    flex: 0 1 auto;

    @include down(md) {
      text-align: center;
      max-width: 400px;
    }
  }

  &__features {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
