.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-black);
  text-decoration: none;

  &--arr {
    display: inline-flex;
    align-items: center;
    gap: 13px;
  }
}
