.section {
  padding: 110px 0;

  @include down(lg) {
    padding: 80px 0;
  }

  @include down(md) {
    padding: 50px 0;
  }

  &--intro {
    padding: 216px 0 153px;

    @include down(lg) {
      padding: 110px 0;
    }

    @include down(md) {
      padding: 110px 0 50px;
    }
  }

  &--about {
    padding-bottom: 450px;
  }
}
