.--svg__btn-orange,.--svg__btn-orange-before::before,.--svg__btn-orange-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='161' height='81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.688 20.108A14.778 14.778 0 0121.312 7.836L132.489.711a14.777 14.777 0 0114.852 9.75l12.397 34.492c3.207 8.925-2.703 18.518-12.117 19.667L16.681 80.598C6.865 81.796-1.335 73.202.32 63.454l7.367-43.346z' fill='%23EB5F35'/%3E%3C/svg%3E");
}
.--svg__btn-orange-before::before {
    content:'';
}
.--svg__btn-orange-after::after {
    content:'';
}
.--svg__clocks-icon,.--svg__clocks-icon-before::before,.--svg__clocks-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='105' height='104' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.072 52.252a8.12 8.12 0 008.118 8.118c3.148 0 5.846-1.81 7.193-4.427l.022.02 14.82-26.736L49.209 45.18l.025.025c-2.471 1.394-4.162 4.01-4.162 7.047zM85.895 13.57C77.576 6.3 66.828 1.659 54.547.965V13.3c10.234.651 16.264 3.902 22.319 8.974l9.029-8.703zM91.689 48.406h12.322c-.827-12.28-5.63-22.372-13.09-30.641l-8.717 8.664c5.252 6.018 8.707 13.79 9.485 21.977z' fill='%23EB5F35'/%3E%3Cpath d='M91.746 54.547C90.444 75.016 73.484 91.25 52.77 91.25c-21.564 0-39.752-17.489-39.752-39.05 0-20.527 16.966-37.321 35.388-38.898V.967C21.796 2.56.736 24.949.736 52.252c0 28.335 23.376 51.279 51.71 51.279 27.494 0 50.333-22.375 51.645-48.984H91.747z' fill='%23EB5F35'/%3E%3C/svg%3E");
}
.--svg__clocks-icon-before::before {
    content:'';
}
.--svg__clocks-icon-after::after {
    content:'';
}
.--svg__coins-icon,.--svg__coins-icon-before::before,.--svg__coins-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='127' height='131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.68 131c19.185 0 34.145-9.804 34.145-22.312V104.8c6.085 3.719 14.283 5.916 23.41 5.916 19.101 0 34.06-9.804 34.06-22.228V25.102c.169-.93.254-1.945.254-2.959 0-1.352-.169-2.62-.507-3.803v-.084C123.253 7.776 109.477 0 92.404 0c-16.227 0-29.411 6.93-33.13 16.65a5.251 5.251 0 00-1.183 3.296v27.298c-6.085-3.634-14.283-5.916-23.41-5.916-16.397 0-29.75 7.184-33.3 17.072a5.123 5.123 0 00-.93 2.959v47.498C.451 121.196 15.495 131 34.68 131zm81.474-63.64c0 5.746-9.804 12.17-23.919 12.17-12.17 0-21.129-4.733-23.41-9.72v-4.986c0-.423.084-.845.084-1.268 0-.423 0-.845-.085-1.268v-.76c6.086 3.718 14.284 6 23.411 6 9.382 0 17.833-2.366 23.919-6.254v6.086zm0-24.848v2.704c0 5.663-9.804 12.001-23.919 12.001-14.114 0-23.918-6.508-23.918-12.255v-6.93c6.17 3.972 14.622 6.339 24.172 6.339 9.297 0 17.664-2.282 23.749-6.085v4.225h-.084zM58.091 88.488v.423c-2.197 4.986-11.24 9.72-23.495 9.72-11.241 0-23.75-5.156-24.003-12.002v-2.704V79.446c6.17 3.887 14.621 6.338 24.087 6.338 9.128 0 17.326-2.197 23.411-5.916v8.62zm-23.411 32.37c-14.199 0-24.003-6.338-24.003-12.085v-6.255c6.17 3.888 14.537 6.339 24.003 6.339s17.917-2.367 24.002-6.254v6.169c0 5.663-9.888 12.086-24.002 12.086zm57.555-20.199c-12.17 0-21.129-4.733-23.41-9.72v-7.268c6.085 3.719 14.283 5.916 23.41 5.916 9.382 0 17.833-2.366 23.919-6.254v5.155c0 5.747-9.804 12.171-23.919 12.171zm.17-90.602c12.762 0 22.058 5.156 23.749 10.396v3.465c-1.691 5.24-10.987 10.396-23.75 10.396-14.198 0-24.002-6.339-24.002-12.086 0-5.832 9.804-12.17 24.002-12.17zM34.68 51.386c12.086 0 21.045 4.648 23.41 9.55v5.155c-2.366 4.903-11.324 9.467-23.41 9.467-14.199 0-24.003-6.34-24.003-12.086 0-5.747 9.889-12.086 24.003-12.086z' fill='%23EB5F35'/%3E%3C/svg%3E");
}
.--svg__coins-icon-before::before {
    content:'';
}
.--svg__coins-icon-after::after {
    content:'';
}
.--svg__confirm-icon,.--svg__confirm-icon-before::before,.--svg__confirm-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='191' height='191' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M95.5.563C43.068.563.562 43.068.562 95.5c0 52.433 42.506 94.938 94.938 94.938 52.433 0 94.938-42.505 94.938-94.938C190.438 43.068 147.933.562 95.5.562zm44.926 41.535l21.191 19.072-71.203 94.09-55.098-47.469 18.225-24.158 32.211 27.972 54.674-69.507z' fill='%234E9A06'/%3E%3C/svg%3E");
}
.--svg__confirm-icon-before::before {
    content:'';
}
.--svg__confirm-icon-after::after {
    content:'';
}
.--svg__inst-icon,.--svg__inst-icon-before::before,.--svg__inst-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='11' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.949.2H1.652C.828.2.2.828.2 1.651v7.297c0 .824.628 1.452 1.452 1.452h7.297c.824 0 1.451-.628 1.451-1.452V1.651C10.4.828 9.773.2 8.95.2zM5.3 8.36c1.687 0 3.06-1.334 3.06-2.942 0-.275-.039-.589-.117-.824h.863v4.158a.393.393 0 01-.393.393H1.887a.393.393 0 01-.392-.393V4.555h.902c-.078.274-.118.549-.118.823C2.24 7.026 3.613 8.36 5.3 8.36zm0-1.177c-1.098 0-1.961-.863-1.961-1.922 0-1.06.863-1.923 1.961-1.923 1.099 0 1.962.863 1.962 1.923 0 1.098-.863 1.922-1.962 1.922zm3.766-4.198a.435.435 0 01-.431.432H7.536a.435.435 0 01-.431-.432V1.926c0-.235.196-.431.431-.431h1.099c.235 0 .431.196.431.431v1.06z' fill='%23381E19'/%3E%3C/svg%3E");
}
.--svg__inst-icon-before::before {
    content:'';
}
.--svg__inst-icon-after::after {
    content:'';
}
.--svg__link-arr-right,.--svg__link-arr-right-before::before,.--svg__link-arr-right-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='31' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 1l5 5m0 0l-5 5m5-5H0' stroke='%23211D1E'/%3E%3C/svg%3E");
}
.--svg__link-arr-right-before::before {
    content:'';
}
.--svg__link-arr-right-after::after {
    content:'';
}
.--svg__logo-icon,.--svg__logo-icon-before::before,.--svg__logo-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='38' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.567.8a24.864 24.864 0 0112.507 0l.682.177a15.321 15.321 0 0111.419 16.049l-.123 1.544a12.796 12.796 0 01-7.886 10.814 2.624 2.624 0 00-1.253 1.08l-1.032 1.723a3.473 3.473 0 01-1.97 1.54l-.047.015a1.45 1.45 0 01-.484.06 1.737 1.737 0 01-1.617-1.342l-.034-.15c-.153-.66-1.09-.67-1.257-.014l-.028.11a2.022 2.022 0 01-1.713 1.508l-.557.068a2.37 2.37 0 01-.577 0l-.62-.076a1.929 1.929 0 01-1.635-1.44l-.039-.153c-.159-.627-1.057-.603-1.184.031l-.02.1a1.69 1.69 0 01-1.584 1.36 1.407 1.407 0 01-.472-.06l-.062-.02a3.587 3.587 0 01-1.986-1.51l-1.102-1.738a2.677 2.677 0 00-1.327-1.075A13.05 13.05 0 01.08 17.784L.017 16.44A15.085 15.085 0 0111.29 1.13L12.567.8zM9.42 18.601a5.002 5.002 0 100-10.004 5.002 5.002 0 000 10.004zm18.799 0a5.002 5.002 0 100-10.004 5.002 5.002 0 000 10.004z' fill='%23FAFAFA'/%3E%3C/svg%3E");
}
.--svg__logo-icon-before::before {
    content:'';
}
.--svg__logo-icon-after::after {
    content:'';
}
.--svg__shield-icon,.--svg__shield-icon-before::before,.--svg__shield-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='131' height='131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M65.5 128.904a11.49 11.49 0 01-6.026-1.647L36.755 113.97A55.352 55.352 0 018.422 66.249V29.943a11.977 11.977 0 017.822-11.229l45.14-16.58a11.977 11.977 0 018.234 0l45.138 16.58a11.974 11.974 0 017.823 11.23v36.305a55.353 55.353 0 01-28.333 47.721l-22.72 13.287a11.49 11.49 0 01-6.025 1.647zm0-118.124a2.506 2.506 0 00-.898 0L19.463 27.435a2.583 2.583 0 00-1.684 2.508V66.25a46.037 46.037 0 0023.692 39.637l22.72 13.324a2.728 2.728 0 002.62 0l22.719-13.324a46.036 46.036 0 0023.692-39.637V29.943a2.587 2.587 0 00-1.684-2.433l-45.14-16.58a2.506 2.506 0 00-.897-.15z' fill='%23EB5F35'/%3E%3Cpath d='M61.382 83.653a4.866 4.866 0 01-3.031-1.085L42.369 69.093a4.69 4.69 0 016.026-7.186l12.538 10.555 21.41-23.58a4.69 4.69 0 016.961 6.288L65.05 82.119a4.753 4.753 0 01-3.668 1.534z' fill='%23EB5F35'/%3E%3C/svg%3E");
}
.--svg__shield-icon-before::before {
    content:'';
}
.--svg__shield-icon-after::after {
    content:'';
}
.--svg__vk-icon,.--svg__vk-icon-before::before,.--svg__vk-icon-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.884 7.07c0-.05-.05-.05-.05-.1-.2-.399-.648-.897-1.246-1.445-.298-.249-.448-.448-.547-.548-.15-.2-.15-.349-.1-.548.05-.15.249-.398.598-.847.199-.249.299-.398.448-.548.747-.996 1.096-1.643.996-1.942l-.05-.05c-.05-.05-.1-.1-.199-.1-.1-.05-.249-.05-.398 0h-2.242l-.05.05c-.05.05-.05.05-.05.1-.199.548-.448.996-.697 1.494-.15.25-.299.498-.448.697-.15.2-.25.35-.349.449-.1.1-.2.15-.25.249-.049.05-.149.1-.149.05-.05 0-.1 0-.1-.05l-.149-.15c-.05-.05-.05-.149-.1-.249v-.249-.299-.298-.548-.449-.348-.3c0-.05-.049-.149-.049-.199l-.15-.149c-.05-.05-.149-.05-.199-.1-.249-.05-.548-.1-.896-.1-.797 0-1.345.05-1.545.15-.1.05-.199.1-.249.2-.1.099-.1.149-.05.149.25.05.449.15.548.299l.05.1c.05.05.05.149.1.298.05.15.05.3.05.498v.797c0 .25-.05.399-.05.548 0 .15-.05.25-.1.3-.05.099-.05.149-.1.149 0 0 0 .05-.05.05-.049 0-.099.05-.198.05-.05 0-.15-.05-.2-.1a.6.6 0 01-.249-.25c-.1-.099-.199-.248-.299-.448-.1-.199-.249-.398-.348-.697l-.1-.2c-.05-.099-.15-.298-.249-.547-.1-.25-.2-.449-.299-.698-.05-.1-.1-.15-.15-.199h-.05s-.049-.05-.099-.05-.1-.05-.15-.05H.879C.68.892.58.942.53.992l-.05.05v.1c0 .05 0 .1.05.199.249.597.548 1.195.847 1.793.299.548.597 1.046.797 1.395.249.349.448.697.697.996.25.299.399.498.448.598l.2.2.15.149c.099.1.248.249.447.398.2.15.449.299.698.448.249.15.548.25.847.35.348.099.647.149.946.099h.747c.15 0 .25-.05.349-.15l.05-.05c0-.05.05-.05.05-.1V7.27c0-.2 0-.35.05-.499.05-.149.05-.249.1-.348.049-.1.099-.15.148-.2l.1-.1h.05c.1-.049.249 0 .349.1.15.1.299.25.398.399.1.15.25.299.448.498.2.2.35.349.449.399l.15.1c.099.05.198.099.348.149.15.05.249.05.349.05l1.693-.05c.15 0 .3-.05.399-.1.1-.05.15-.1.15-.2V7.27c-.1-.1-.1-.15-.1-.2z' fill='%23381E19'/%3E%3C/svg%3E");
}
.--svg__vk-icon-before::before {
    content:'';
}
.--svg__vk-icon-after::after {
    content:'';
}