<div class="section section--about s-about">
  <div class="container container--fluid">
    <div class="s-about__inner">
      <div class="s-about__item about-item">
        <div class="about-item__content">
          <p class="about-item__text text">
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.</p>
        </div>
        <div class="about-item__banner">
          <picture>
            <source srcset="img/code-sample.webp" type="image/webp">
            <source srcset="img/code-sample.jpg" type="image/jpg">
            <img src="img/code-sample.png" alt="intro-image">
          </picture>
        </div>
        <div class="about-item__circle"></div>
      </div>
      <div class="s-about__item about-item about-item--reverse">
        <div class="about-item__content">
          <p class="about-item__text text">
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.</p>
        </div>
        <div class="about-item__banner">
          <picture>
            <source srcset="img/code-sample.webp" type="image/webp">
            <source srcset="img/code-sample.jpg" type="image/jpg">
            <img src="img/code-sample.png" alt="intro-image">
          </picture>
        </div>
        <div class="about-item__circle about-item__circle--md"></div>
      </div>
      <div class="s-about__item about-item">
        <div class="about-item__content">
          <p class="about-item__text text">
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.
            Record or rewind any change to your code to keep you and your team in sync. Host it all for free with unlimited public and private repositories.</p>
        </div>
        <div class="about-item__banner about-item__banner--active">
          <picture>
            <source srcset="img/code-sample.webp" type="image/webp">
            <source srcset="img/code-sample.jpg" type="image/jpg">
            <img src="img/code-sample.png" alt="intro-image">
          </picture>
        </div>
        <div class="about-item__circle about-item__circle--lg"></div>
      </div>
    </div>
  </div>
</div>
