<div class="section s-features">
  <div class="container container--fluid s-features__inner">
    <div class="s-features__content">
      <div class="s-features__content-inner">
        <h2 class="title">BRING COTT CANDY</h2>
        <p class="text">
          Adino steals his brother cotton candy and eats them all in one bite, such a hungry beast.
          Grahami can't hold any longer his anger to Adino.</p>
      </div>
      <div class="s-features__content-buttons">
        <button type="button" class="btn btn--orange --svg__btn-orange">Book now</button>
        <a href="#" class="link link--arr">
          Track Record
          <img src="img/link-arr-right.svg" alt="">
        </a>
      </div>
    </div>
    <div class="s-features__round">
      <div class="s-features__round-inner">
        <div class="feature">
          <div class="feature__circle">
            <div class="feature__circle-inner ">
              <div class="feature__logo --svg__coins-icon"></div>
            </div>
            <button type="button"
                    class="feature__button feature__button--active feature__button--stage-1"
                    data-icon="coins-icon">
              Coins
            </button>
            <button type="button"
                    class="feature__button feature__button--stage-2"
                    data-icon="clocks-icon">
              Performance
            </button>
            <button type="button"
                    class="feature__button feature__button--stage-3"
                    data-icon="shield-icon">
              Safety
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
