<footer class="footer">
  <div class="container container--fluid">
    <div class="footer__inner">
      <div class="footer__nav">
        <div class="footer__nav-item footer-nav">
          <p class="footer-nav__title">Product</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Features</a>
            </li>
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Security</a>
            </li>
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Team</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-item footer-nav">
          <p class="footer-nav__title">Enterprise</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Customer stories</a>
            </li>
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">The ReadME Project</a>
            </li>
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Pricing</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-item footer-nav">
          <p class="footer-nav__title">Resources</p>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Roadmap</a>
            </li>
            <li class="footer-nav__list-item">
              <a href="" class="footer-nav__link">Roadmap</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__form">
        @@include('../bem-blocks/contact-form/_contact-form.html')
      </div>
    </div>
    <div class="footer__copy footer-copy">
      <div class="footer-copy__content">
        <p class="footer-copy__text">Copyright © 2001-2022</p>
      </div>
      <div class="footer-copy__socials footer-socials">
        <div class="footer-socials__inner">
          <a href="/" class="footer-socials__item">
            <img class="footer-socials__icon" src="img/vk-icon.svg" />
          </a>
          <a href="/" class="footer-socials__item">
            <img class="footer-socials__icon" src="img/inst-icon.svg" />
          </a>
          <a href="/" class="footer-socials__item">
            <img class="footer-socials__icon" src="img/vk-icon.svg" />
          </a>
          <a href="/" class="footer-socials__item">
            <img class="footer-socials__icon" src="img/inst-icon.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
