<header class="header">
  <div class="container container--fluid header__inner">
    <div class="header__logo">
      @@include('../bem-blocks/logo/_logo.html')
    </div>
    <div class="header__nav">
      @@include('../bem-blocks/nav/_nav.html')
    </div>
    <div class="header__burger">
      @@include('../bem-blocks/burger/_burger.html')
    </div>
  </div>
</header>
