<section class="section section--intro s-intro">
  <div class="container container--fluid s-intro__inner">
    <div class="s-intro__content">
      <div class="s-intro__content-inner">
        <p class="pre-title pre-title--white">#2 top Best duo</p>
        <h1 class="title title--white">BRING BACK MY COTTON CANDY</h1>
        <p class="text text--white">
          Adino steals his brother cotton candy and eats them all in one bite, such a hungry
          beast. Grahami can't hold any longer his anger to Adino.
        </p>
      </div>
      <div class="intro-content__form">
        @@include('../bem-blocks/order-form/_order-form.html')
      </div>
    </div>
    <div class="s-intro__image">
      <picture>
        <source srcset="img/peoples.webp" type="image/webp">
        <source srcset="img/peoples.png" type="image/png">
        <img src="img/peoples.png" alt="intro-image">
      </picture>
    </div>
  </div>
  <div class="container container--fluid">
    <div class="s-intro__features">
      @@include('../bem-blocks/intro-features/_intro-features.html')
    </div>
  </div>
</section>
