<div class="intro-features">
  <div class="intro-features__item">
    <p class="intro-features__title">Adino & Grahami</p>
    <p class="intro-features__text">No words can describe them</p>
  </div>
  <div class="intro-features__item">
    <p class="intro-features__title">Adino & Grahami</p>
    <p class="intro-features__text">No words can describe them</p>
  </div>
  <div class="intro-features__item">
    <p class="intro-features__title">Adino & Grahami</p>
    <p class="intro-features__text">No words can describe them</p>
  </div>
  <div class="intro-features__item">
    <p class="intro-features__title">Adino & Grahami</p>
    <p class="intro-features__text">No words can describe them</p>
  </div>
</div>
