.intro-features {
  display: flex;
  gap: 15px;

  @include down(lg) {
    flex-wrap: wrap;
    gap: 25px;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
    text-align: right;
    padding: 0 25px 0 0;
    min-height: 105px;
    position: relative;
    border-right: 1px solid var(--text-white);

    @include down(lg) {
      flex: 1 1 calc(50% - 15px);
      max-width: 50%;
      text-align: left;
      padding: 0 0 0 25px;
      border-left: 1px solid var(--text-white);
      border-right: none;
    }

    @include down(sm) {
      flex: 1 1 100%;
      max-width: 100%;

    }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      width: 8px;
      height: 8px;
      background: var(--text-white);
      border-radius: 50%;

      @include down(lg) {
        left: -4px;
        right: auto;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-white);
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--text-white);
  }
}
